@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Nanum+Myeongjo");
@import url("https://fonts.googleapis.com/css?family=Lato");
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format("opentype"); }
/*
@mixin iropke() {
    font-family: 'Iropke Batang', serif;
}
@mixin jjmj() {
    font-family: 'Jeju Myeongjo', serif;
}*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button {
  padding: 0; }
  button:hover, button:focus {
    box-shadow: none; }

a {
  color: inherit; }
  a:hover, a:focus {
    color: inherit;
    box-shadow: none;
    text-decoration: none; }

.btn {
  border: 0;
  padding: 0;
  background: none;
  border-radius: 0 !important;
  box-shadow: none !important; }

.form-group {
  margin: 0;
  padding: 0; }

.form-control {
  width: 100%;
  height: 50px;
  font-size: 13px;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #002e79;
  box-shadow: none !important; }
  @media (min-width: 768px) {
    .form-control {
      font-size: 14px;
      height: 60px; } }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.container {
  max-width: 100%; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.customer .page-header .page-summary {
  background-image: url(/cn/assets/images/customer/bg_customer.gif); }
.customer .page-path .breadcrumb .dropdown .dropdown-menu {
  height: 123px; }
@media (min-width: 1200px) {
  .customer .page-path .breadcrumb .dropdown .dropdown-menu {
    height: 60px; }
    .customer .page-path .breadcrumb .dropdown .dropdown-menu .dropdown-item {
      width: 50%; } }

.notice-list {
  padding-bottom: 80px; }
  .notice-list .select-search {
    margin-bottom: 25px; }
  .notice-list .paging {
    margin-top: 30px; }
  @media (min-width: 768px) {
    .notice-list {
      padding-bottom: 90px; }
      .notice-list .paging {
        margin-top: 50px; } }
  @media (min-width: 1200px) {
    .notice-list {
      padding-bottom: 120px; }
      .notice-list .select-search {
        margin-bottom: 30px; } }

.notice-view .page-link1 {
  margin-top: 40px;
  border-top: 1px solid #143883;
  border-bottom: 1px solid #143883; }
  .notice-view .page-link1 > li {
    padding: 18px 10px; }
    .notice-view .page-link1 > li:last-child {
      border-bottom: 0; }
  @media (min-width: 768px) {
    .notice-view .page-link1 > li {
      padding: 18px 30px; } }
.notice-view .btn-area {
  margin-top: 30px; }
@media (min-width: 768px) {
  .notice-view {
    /*.board-view {
    	.view-body {
    		min-height: 415px;
    	}
    }*/ }
    .notice-view .page-link1 {
      margin-top: 50px; }
    .notice-view .btn-area {
      margin-top: 40px; } }
@media (min-width: 1200px) {
  .notice-view .page-link1 {
    margin-top: 65px; } }

@media (min-width: 1200px) {
  .notice-write .write-wrap .table-wrap .table tbody tr td.file .form-group .form-control {
    width: 450px; } }
.notice-write .write-wrap .btn-area {
  margin-top: 30px; }
@media (min-width: 768px) {
  .notice-write .write-wrap .btn-area {
    margin-top: 40px; } }
@media (min-width: 768px) {
  .notice-write .write-wrap .btn-area {
    margin-top: 30px; } }

.qna-list {
  padding-bottom: 80px; }
  .qna-list .list > li.list-intro > .list-header > li {
    font-weight: 400; }
  .qna-list .list > li.d-xl-block .list-header li {
    text-align: center;
    font-size: 14px;
    color: #333; }
    @media (min-width: 1200px) {
      .qna-list .list > li.d-xl-block .list-header li:nth-of-type(1) {
        width: 10%; }
      .qna-list .list > li.d-xl-block .list-header li:nth-of-type(2) {
        width: 57%; }
      .qna-list .list > li.d-xl-block .list-header li:nth-of-type(3) {
        width: 13%; }
      .qna-list .list > li.d-xl-block .list-header li:nth-of-type(4) {
        width: 10%; }
      .qna-list .list > li.d-xl-block .list-header li:nth-of-type(5) {
        width: 10%; } }
  @media (min-width: 1200px) {
    .qna-list .list > li > ul > li {
      font-size: 14px;
      text-align: center; }
      .qna-list .list > li > ul > li:nth-of-type(1) {
        width: 10%; }
      .qna-list .list > li > ul > li:nth-of-type(2) {
        width: 57%;
        text-align: left; }
      .qna-list .list > li > ul > li:nth-of-type(3) {
        width: 13%; }
      .qna-list .list > li > ul > li:nth-of-type(4) {
        width: 10%; }
      .qna-list .list > li > ul > li:nth-of-type(5) {
        width: 10%; } }
  .qna-list .select-search {
    margin-bottom: 25px; }
  .qna-list .btn-area {
    margin-top: 20px; }
  .qna-list .paging {
    margin-top: 30px; }
  @media (min-width: 768px) {
    .qna-list {
      padding-bottom: 90px; }
      .qna-list .paging {
        margin-top: 50px; } }
  @media (min-width: 1200px) {
    .qna-list {
      padding-bottom: 120px; }
      .qna-list .select-search {
        margin-bottom: 30px; } }

.qna-view .page-link1 {
  margin-top: 40px;
  border-top: 1px solid #143883;
  border-bottom: 1px solid #143883; }
  .qna-view .page-link1 > li {
    padding: 18px 10px; }
    .qna-view .page-link1 > li:last-child {
      border-bottom: 0; }
  @media (min-width: 768px) {
    .qna-view .page-link1 > li {
      padding: 18px 30px; } }
.qna-view .btn-area {
  margin-top: 30px; }
@media (min-width: 768px) {
  .qna-view .board-view {
    /*	.view-body {
    		min-height: 415px;
    	}*/ }
  .qna-view .page-link1 {
    margin-top: 50px; }
  .qna-view .btn-area {
    margin-top: 40px; } }
@media (min-width: 1200px) {
  .qna-view .page-link1 {
    margin-top: 65px; } }

@media (min-width: 1200px) {
  .qna-write .write-wrap .table-wrap .table tbody tr td.file .form-group .form-control {
    width: 450px; } }
.qna-write .write-wrap .btn-area {
  margin-top: 30px; }
@media (min-width: 768px) {
  .qna-write .write-wrap .btn-area {
    margin-top: 40px; } }
@media (min-width: 768px) {
  .qna-write .write-wrap .btn-area {
    margin-top: 30px; } }

.pw-confirm {
  padding-top: 70px; }
  .pw-confirm .confirm-form {
    text-align: center;
    padding: 50px 30px;
    background-color: #fff; }
    .pw-confirm .confirm-form .details > h2 {
      font-size: 20px;
      font-weight: 500;
      color: #333;
      margin-top: 20px; }
    .pw-confirm .confirm-form .details > p {
      font-size: 13px;
      color: #666;
      line-height: 22px;
      margin-top: 20px; }
    .pw-confirm .confirm-form .form-group {
      margin-top: 15px;
      padding: 0 6%; }
      .pw-confirm .confirm-form .form-group .form-control {
        border: 0;
        padding: 0;
        height: 40px;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        padding: 0 20px;
        border-bottom: 1px solid #ccc;
        text-align: center; }
    .pw-confirm .confirm-form .btn-area {
      margin-top: 40px;
      text-align: center; }
      .pw-confirm .confirm-form .btn-area p .btn {
        display: inline-block;
        margin-right: 4%; }
        .pw-confirm .confirm-form .btn-area p .btn:last-child {
          margin-right: 0; }
        .pw-confirm .confirm-form .btn-area p .btn.btn-white {
          width: 48%;
          line-height: 38px;
          font-size: 13px;
          color: #333;
          border: 1px solid #aaa; }
          .pw-confirm .confirm-form .btn-area p .btn.btn-white:hover {
            opacity: .8;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
        .pw-confirm .confirm-form .btn-area p .btn.btn-navy {
          width: 48%;
          line-height: 40px; }
  @media (min-width: 768px) {
    .pw-confirm {
      padding-top: 100px; }
      .pw-confirm .confirm-form {
        text-align: center;
        padding: 70px 0 85px; }
        .pw-confirm .confirm-form .details > h2 {
          font-size: 22px; }
        .pw-confirm .confirm-form .details > p {
          font-size: 15px;
          line-height: 26px;
          margin-top: 25px; }
        .pw-confirm .confirm-form .form-group {
          padding: 0; }
          .pw-confirm .confirm-form .form-group .form-control {
            max-width: 330px; }
        .pw-confirm .confirm-form .btn-area p .btn {
          margin-right: 10px; }
          .pw-confirm .confirm-form .btn-area p .btn.btn-white {
            width: 130px;
            font-size: 14px; }
          .pw-confirm .confirm-form .btn-area p .btn.btn-navy {
            width: 130px;
            font-size: 14px; } }
  @media (min-width: 1200px) {
    .pw-confirm {
      padding-top: 180px; } }

/*# sourceMappingURL=customer.css.map */
