@import 'common';

body {
	min-width: 320px;
	font-size: 13px;
	padding-top: 55px;
	@include noto();
	@media(min-width: $md) {
		margin-top: 80px;
	}
	@media(min-width: $xl) {
		margin-top: 90px; 
	}
}

//header 
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    z-index: 200;
	text-align: center;
	box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.15); 
    background-color: #fff;
	.container {
		position: relative;
	}
	.logo {
		a {
			img {
				width: 120px;
			}
		}
	}
	@media(min-width: $md) {
		height: 80px;
		.logo {
			padding-top: 10px;
			a { 
				width: 150px;
			}
		}
	}         
	@media(min-width: $xl) {
		border-top: 2px solid #002e79;
		height: 90px;
		.logo {
			float: left;
		}
	}
}


//gnb
#gnb {
	display:  none;
	font-size: 0;
	text-align: right;
	margin-right: 20px;
	> ul {
		font-size: 0;
		display: inline-block;
		> li {
			display: inline-block;
			vertical-align: top;
			&:last-child {
				margin-right: 0;
			}
			> a {
				font-size: 17px;
				line-height: 90px;
			}
		}
		&.menu {
			> li {
				a {
					padding: 0 55px;
				}
				&:last-child {
					a {
						padding-right: 70px;
					}
				}
				> ul {
					display: none;
					li {
						a {
							font-size: 15px;
							text-align: center;
						}
					}
				} 
			}
		}
		&.laguage {
			> li {
				margin-right: 5px;
				&:last-child {
					margin-right: 20px;
				}
			}
		}
	}
	@media(min-width: $xl) {
		display: block;
	}
}

//nav-btn-area
.nav-btn-area {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    .btn-nav {
        position: relative;
        width: 55px;
        height: 55px;
        z-index: 200;
        padding: 0 15px;
        text-align: center;
        border-radius: 0;
        background-color: #002e79;
        .bar {
            display: block;
            width: 20px;
            height: 3px;
            margin: 2px auto;
            border-radius: 10px;
            background-color: #fff;
            @include transition();
        }
    }
    @media(min-width: $md) {
        .btn-nav {
            width: 80px;
            height: 80px;
            padding: 0 20px;
            .bar {
                width: 30px;
                margin: 4px auto;
            }
        }
    }
    @media(min-width: $xl) {
        display: none;
    }
}

//search-form
.search-form {
	position: absolute;
	top: 0;
	right: 0;
	.btn {
		&.search-btn {
			width: 55px;
			height: 55px;
			text-align: center;
			border-left: 1px solid #e8e8e8;
			background-color: #fff;
			i {
				font-size: 20px;
				color: #00a1e9;
			}
		}
	}
	@media(min-width: $md) {
		.btn {
			&.search-btn {
				width: 80px;
				height: 80px;
				i {
					font-size: 27px;
				}
			}
		}
	}
	@media(min-width: $xl) {
		right: 15px;
		.btn {
			&.search-btn {
				width: auto;
				height: 90px;
				border: 0;
				background: none;
				i {
					position: relative;
					top: -5px;
					font-size: 18px;
				}
			}
		}
	}
}
#content {
	min-height: 300px;
	background-color: #f0f3f7;
}
#footer {
	padding: 30px 0;
	.information {
		display: none;
		> li {
			display: inline-block;
			a {
				font-size: 12px;
				color: #666;
				opacity: .7;
				margin-right: 20px;
			}
			&:last-child {
				a {
					margin-right: 0;
				}
			}
		} 
		@media(min-width: $md) {
			display: block;
		}
	}
	.company {
		> ul {
			font-size: 0;
			> li {
				display: inline-block;
				font-size: 12px;
				color: #666;
				line-height: 20px;
				&:after {
					position: relative;
					top: -1px;
					content: "|";
					font-size: 10px;
					margin: 0 6px;
				}
				&:last-child {
					&:after {
						display: none;
					}
				}
				address {
					display: inline-block;
				}
				dl {
					display: inline-block;
					font-size: 0;
					dt {
						display: inline-block;
						font-size: 12px;
						font-weight: 400;
						&:after {
							content: ":"; 
							margin: 0 3px;
						}
					}
					dd {
						display: inline-block;
						font-size: 12px;
					}
				}
			}
		}
		> p {
			font-size: 12px;
			color: #666;
			line-height: 20px;
			@include roboto();
		}
		@media (min-width: $md) {
			margin-top: 20px;
		}
	}
	figure {
		text-align: center;
		line-height: 84px;
	}
}

//모바일 내비
#aside {
	position: fixed;
	top: 0;
	left: -100%;
	width: 0;
	height: 100%;
	z-index: 200;
	@include transition();
	.backdrop {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		width: 0;
		height: 0;
		background-color: rgba(0, 0, 0, 0.7);
	}
	.aside-header {
		position: relative;
		height: 55px;
		padding: 15px 10px;
		background-color: #002e79;
		z-index: 201;
		> p {
			display: inline-block;
			img {
				width: 100px;
			}
		}
		.btn-default {
			position: absolute;
			top: 0;
			right: 0;
			width: 55px;
			height: 55px;
			&.close-btn {
				background-image: url(/assets/images/btn_close.png);
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
	.aside-body {
		position: relative;
		height: 100%;
		z-index: 202;
		padding-bottom: 100px;
		background-color: #fff;
		> .depth-1 {
			> li {
				line-height: 50px;
				border-bottom: 1px solid #ccc;
				background-color: #fff;
				> a {
					display: block;
					font-size: 15px;
					color: #333;
					padding: 0 20px;
					&:after {
						float: right;
						content: "\E803";
						font-family: "fontello";
						font-size: 15px;
					}
				}
				&.active {
					background-color: #00a1e9;
					> a {
						color: #fff;
						&:after {
							float: right;
							content: "\E802";
							font-family: "fontello";
							font-size: 15px;
						}
					}
					> .depth-2 {
						display: block;
						background-color: #fff;	
						> li {
							line-height: 50px;
							border-top: 1px solid #ccc;
							> a {
								font-size: 15px;
								color: #666;
								padding: 0 30px;
								&:hover, &:focus {
									color: #00a1e9;
								}
							}
						}
					}
				}
				.depth-2 {
					display: none;
					li {
						> .depth-3 {
							display: none;
						}
						&.on {
							> .arrow {
								&:after {
									float: right;
									padding-right: 20px;
									content: "\E802";
									font-family: "fontello";
									font-size: 15px;
								}
							}
							> .depth-3 {
								display: block;
								padding: 15px 0;
								background-color: #eff3f7;
								> li {
									font-size: 13px;
									color: #666;
									line-height: 30px;
									> a {
										padding: 0 30px;
										&:hover {
											color: #ea212f;
										}
										&:before {
											content: "-";
											margin-right: 3px;
										}
									}
								}
							}
						}
						> a {
							&.arrow {
								&:after {
									float: right;
									padding-right: 20px;
									content: "\E803";
									font-family: "fontello";
									font-size: 15px;
								}
							}
						}
					}
				}
				&:hover {
					color: #fff;
					background-color: #00a1e9;
					> a {
						color: #fff;
					}
				}
			}
		}
	}
	@media (min-width: $md) {
		.backdrop {
			display: block;
		}
		.aside-header {
			position: relative;
			height: 55px;
			padding: 15px 10px;
			background-color: #002e79;
			z-index: 201;
			> p {
				display: inline-block;
				img {
					width: 100px;
				}
			}
			.btn-default {
				position: absolute;
				top: 0;
				right: 0;
				width: 55px;
				height: 55px;
				&.close-btn {
					background-image: url(/assets/images/btn_close.png);
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
		.aside-body {
			/*position: fixed;
			z-index: 202;*/
			padding-bottom: 100px;
			> .depth-1 {
				> li {
					line-height: 50px;
					border-bottom: 1px solid #ccc;
					background-color: #fff;
					> a {
						display: block;
						font-size: 15px;
						color: #333;
						padding: 0 20px;
						&:after {
							float: right;
							content: "\E803";
							font-family: "fontello";
							font-size: 15px;
						}
					}
					&.active {
						background-color: #00a1e9;
						> a {
							color: #fff;
							&:after {
								float: right;
								content: "\E802";
								font-family: "fontello";
								font-size: 15px;
							}
						}
						> .depth-2 {
							display: block;
							background-color: #fff;	
							> li {
								line-height: 50px;
								border-top: 1px solid #ccc;
								> a {
									font-size: 15px;
									color: #666;
									padding: 0 30px;
									&:hover, &:focus {
										color: #00a1e9;
									}
								}
							}
						}
					}
					.depth-2 {
						display: none;
						li {
							> .depth-3 {
								display: none;
							}
							&.on {
								> .arrow {
									&:after {
										float: right;
										padding-right: 20px;
										content: "\E802";
										font-family: "fontello";
										font-size: 15px;
									}
								}
								> .depth-3 {
									display: block;
									padding: 15px 0;
									background-color: #eff3f7;
									> li {
										font-size: 13px;
										color: #666;
										line-height: 30px;
										> a {
											padding: 0 30px;
											&:hover {
												color: #ea212f;
											}
											&:before {
												content: "-";
												margin-right: 3px;
											}
										}
									}
								}
							}
							> a {
								&.arrow {
									&:after {
										float: right;
										padding-right: 20px;
										content: "\E803";
										font-family: "fontello";
										font-size: 15px;
									}
								}
							}
						}
					}
					&:hover {
						color: #fff;
						background-color: #00a1e9;
						> a {
							color: #fff;
						}
					}
				}
			}
		}
	}
}

.opened {
	overflow: hidden;
	#aside {
		left: 0;
		width: 100%;
		background: #fff;
		overflow: auto;
		.backdrop {
			width: 100%;
			height: 100%;
		}
		@media (min-width: $md) {
			width: 580px;
			.backdrop {
				display: block;
			}
		}
	}
}



























