@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Nanum+Myeongjo");
@import url("https://fonts.googleapis.com/css?family=Lato");
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format("opentype"); }
/*
@mixin iropke() {
    font-family: 'Iropke Batang', serif;
}
@mixin jjmj() {
    font-family: 'Jeju Myeongjo', serif;
}*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button {
  padding: 0; }
  button:hover, button:focus {
    box-shadow: none; }

a {
  color: inherit; }
  a:hover, a:focus {
    color: inherit;
    box-shadow: none;
    text-decoration: none; }

.btn {
  border: 0;
  padding: 0;
  background: none;
  border-radius: 0 !important;
  box-shadow: none !important; }

.form-group {
  margin: 0;
  padding: 0; }

.form-control {
  width: 100%;
  height: 50px;
  font-size: 13px;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #002e79;
  box-shadow: none !important; }
  @media (min-width: 768px) {
    .form-control {
      font-size: 14px;
      height: 60px; } }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.container {
  max-width: 100%; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.greetings {
  background-color: #f8f8f8; }
  .greetings article figure img {
    margin-bottom: -40px; }
  .greetings article .greeting-card {
    width: 95%;
    height: 135px;
    padding: 70px 0 0 20px;
    margin: 0 auto;
    background-color: #05327c;
    background-image: url(/assets/images/introduce/bg_greetings_logo.png);
    background-repeat: no-repeat;
    background-position: 20px 30px;
    box-shadow: 5px 6px 6px 0px rgba(0, 0, 0, 0.11); }
    .greetings article .greeting-card > p {
      font-size: 13px;
      color: #fff;
      line-height: 22px; }
  .greetings article .details {
    margin-top: 45px; }
    .greetings article .details b {
      font-size: 22px;
      color: #333;
      line-height: 32px;
      font-family: 'Nanum Myeongjo', serif; }
      .greetings article .details b > i {
        font-style: normal;
        color: #234785;
        font-size: 500; }
    .greetings article .details > p {
      font-size: 12px;
      color: #666;
      line-height: 22px;
      margin-top: 25px; }
  @media (min-width: 768px) {
    .greetings article figure img {
      margin-bottom: -95px; }
    .greetings article .greeting-card {
      width: 290px;
      height: 200px;
      padding: 90px 0 0 40px;
      margin-left: 60px;
      background-position: 40px 40px; }
      .greetings article .greeting-card > p {
        font-size: 14px;
        line-height: 24px; }
    .greetings article .details {
      margin-top: 50px;
      word-break: keep-all; }
      .greetings article .details b {
        font-size: 24px; }
      .greetings article .details > p {
        font-size: 13px;
        line-height: 24px; } }
  @media (min-width: 1200px) {
    .greetings article figure img {
      margin-bottom: -95px; }
    .greetings article .greeting-card {
      width: 300px;
      padding: 95px 0 0 50px;
      margin-left: 70px;
      background-position: 50px 40px; }
      .greetings article .greeting-card > p {
        font-size: 15px;
        line-height: 26px; }
    .greetings article .details {
      margin-top: 145px;
      padding-right: 10px; }
      .greetings article .details > p {
        font-size: 14px;
        line-height: 26px;
        /*word-break: keep-all;*/ } }

.ideology .management {
  text-align: center;
  padding-top: 35px; }
  .ideology .management > h3 {
    width: 140px;
    font-size: 18px;
    line-height: 45px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    border-radius: 30px;
    margin: 0 auto;
    background-color: #00a1e9; }
  .ideology .management > p {
    font-size: 18px;
    color: #333;
    line-height: 30px;
    font-weight: 300;
    margin-top: 20px;
    word-break: break-all; }
    .ideology .management > p > b {
      font-weight: 500; }
  @media (min-width: 768px) {
    .ideology .management {
      padding-top: 60px; }
      .ideology .management > p {
        font-size: 22px; } }
.ideology .vision {
  text-align: center;
  margin-top: 55px; }
  .ideology .vision > h3 {
    width: 140px;
    font-size: 18px;
    line-height: 45px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    border-radius: 30px;
    margin: 0 auto;
    background-color: #00a1e9; }
  .ideology .vision > strong {
    display: block;
    font-size: 36px;
    color: #00a1e9;
    font-weight: bold;
    margin-top: 20px;
    font-family: 'Lato', sans-serif; }
    .ideology .vision > strong > i {
      font-style: normal;
      color: #082e6d; }
  .ideology .vision > p {
    font-size: 16px;
    color: #666;
    line-height: 32px;
    margin-top: 10px; }
  .ideology .vision > .vision-list {
    padding-top: 130px;
    background-image: url(/assets/images/introduce/bg_vision_list.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 350px auto; }
    .ideology .vision > .vision-list figure img {
      display: block;
      margin: 0 auto; }
    @media (min-width: 768px) {
      .ideology .vision > .vision-list {
        padding-top: 200px;
        background-size: 680px auto; } }
  @media (min-width: 768px) {
    .ideology .vision {
      margin-top: 70px; }
      .ideology .vision > strong {
        font-size: 50px; }
      .ideology .vision > p {
        font-size: 18px;
        line-height: 26px; }
      .ideology .vision > .vision-list {
        padding-top: 200px;
        background-size: 680px auto; } }
  @media (min-width: 1200px) {
    .ideology .vision > .vision-list {
      padding-top: 220px; } }

.organization .container > figure {
  padding-left: 70px; }
  .organization .container > figure img {
    display: block;
    margin: 0 auto; }
  @media (min-width: 768px) {
    .organization .container > figure {
      padding-left: 0; } }

.ci {
  padding-bottom: 0 !important; }
  .ci .ci-info {
    padding-bottom: 65px; }
    .ci .ci-info .section-content .bg-square {
      width: 100%;
      height: 240px;
      line-height: 240px;
      text-align: center;
      border: 1px solid #ebebeb;
      background-image: url(/assets/images/introduce/bg_ci.jpg);
      background-repeat: repeat;
      background-size: cover;
      background-position: center; }
      .ci .ci-info .section-content .bg-square > img {
        width: 165px; }
    .ci .ci-info .section-content .btn-area {
      margin-top: 15px;
      margin-bottom: 20px; }
      .ci .ci-info .section-content .btn-area p {
        font-size: 0; }
        .ci .ci-info .section-content .btn-area p a.btn {
          width: 49.5%;
          line-height: 48px;
          margin-right: 1%;
          border: 1px solid #0b306f; }
          .ci .ci-info .section-content .btn-area p a.btn:last-child {
            margin: 0; }
          .ci .ci-info .section-content .btn-area p a.btn.btn-white {
            color: #0b306f;
            border: 1px solid #0b306f; }
        .ci .ci-info .section-content .btn-area p a:after {
          position: relative;
          top: -4px;
          left: 15px;
          content: "\F0DD";
          font-size: 14px;
          font-family: "fontello"; }
    .ci .ci-info .section-content > p {
      font-size: 13px;
      color: #666;
      line-height: 20px;
      font-weight: 300; }
      .ci .ci-info .section-content > p:before {
        content: "*";
        display: inline-block;
        margin-right: 5px; }
    @media (min-width: 768px) {
      .ci .ci-info {
        padding-bottom: 95px; }
        .ci .ci-info .section-content .bg-square {
          height: 330px;
          line-height: 330px; }
          .ci .ci-info .section-content .bg-square > img {
            width: 260px; }
        .ci .ci-info .section-content .btn-area {
          margin-top: 35px;
          text-align: center; }
          .ci .ci-info .section-content .btn-area p a.btn {
            width: 195px;
            line-height: 48px;
            margin-right: 10px; }
        .ci .ci-info .section-content > p {
          text-align: center; } }
    @media (min-width: 1200px) {
      .ci .ci-info {
        padding-bottom: 120px; }
        .ci .ci-info .section-content .bg-square > img {
          width: 350px; }
        .ci .ci-info .section-content .btn-area {
          margin-top: 40px; } }
  .ci .ci-color {
    background-color: #fff;
    padding-bottom: 60px; }
    @media (min-width: 768px) {
      .ci .ci-color .section-header .page-title {
        padding-top: 80px; } }
    .ci .ci-color .section-content .color .color-show {
      width: 100%;
      height: 90px;
      line-height: 90px;
      font-size: 15px;
      color: #fff;
      text-align: center;
      font-family: 'Roboto', sans-serif; }
      .ci .ci-color .section-content .color .color-show.symbol {
        background-color: #00a0e9; }
      .ci .ci-color .section-content .color .color-show.primtary {
        background-color: #00307a; }
      .ci .ci-color .section-content .color .color-show.secondary {
        background-color: #ea212f; }
    .ci .ci-color .section-content .color .details {
      text-align: center;
      padding: 15px 0 40px; }
      .ci .ci-color .section-content .color .details p {
        font-size: 13px;
        color: #666;
        line-height: 22px;
        font-weight: 300;
        font-family: 'Roboto', sans-serif; }
    @media (min-width: 768px) {
      .ci .ci-color .section-content .color .details {
        text-align: left;
        padding-left: 10px; }
        .ci .ci-color .section-content .color .details p {
          font-size: 14px;
          line-height: 24px; } }
    @media (min-width: 1200px) {
      .ci .ci-color .section-content .color .color-show {
        height: 120px;
        line-height: 120px;
        font-size: 16px; }
      .ci .ci-color .section-content .color .details {
        padding: 20px 0 40px 10px; } }

.location {
  padding-bottom: 0 !important; }
  .location .route {
    padding-bottom: 50px; }
    .location .route .nav-tabs {
      overflow: hidden;
      width: 100%;
      border: 0;
      background-color: #fff; }
      .location .route .nav-tabs .nav-item {
        margin: 0;
        float: left;
        width: 50%; }
        .location .route .nav-tabs .nav-item ~ li .nav-link {
          border-left: 0; }
        .location .route .nav-tabs .nav-item .nav-link {
          border: 0;
          padding: 0;
          border-radius: 0;
          font-size: 14px;
          text-align: center;
          line-height: 45px;
          border: 1px solid #d6d6d6; }
          .location .route .nav-tabs .nav-item .nav-link:hover {
            color: #fff;
            border: 1px solid #072d68;
            background-color: #072d68;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
          .location .route .nav-tabs .nav-item .nav-link.active {
            color: #fff;
            border: 1px solid #072d68;
            background-color: #072d68; }
    .location .route .section-content {
      padding-top: 40px; }
      .location .route .section-content > h4 {
        font-size: 15px;
        color: #333;
        font-weight: 400;
        padding-bottom: 10px; }
      .location .route .section-content .details {
        padding: 25px 0 25px 10px;
        border-top: 1px solid #464646;
        border-bottom: 1px solid #d1d1d1; }
        .location .route .section-content .details > li {
          line-height: 36px; }
          .location .route .section-content .details > li:first-child dl dt:before {
            content: "\E80A"; }
          .location .route .section-content .details > li:nth-of-type(2) dl dt:before {
            content: "\E80B"; }
          .location .route .section-content .details > li:last-child dl dt:before {
            content: "\F1AC"; }
          .location .route .section-content .details > li dl {
            font-size: 0; }
            .location .route .section-content .details > li dl dt {
              position: relative;
              float: left;
              clear: both;
              width: 90px;
              font-size: 13px;
              color: #333;
              font-weight: 400;
              padding-left: 20px; }
              .location .route .section-content .details > li dl dt:before {
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                font-size: 12px;
                color: #333;
                font-family: "fontello"; }
            .location .route .section-content .details > li dl dd {
              font-size: 13px;
              color: #666;
              padding-left: 90px; }
      .location .route .section-content > .maps {
        margin-top: 20px; }
    @media (min-width: 768px) {
      .location .route {
        padding-bottom: 70px; }
        .location .route .nav-tabs .nav-item .nav-link {
          font-size: 15px;
          line-height: 55px; }
        .location .route .section-content {
          padding-top: 50px; }
          .location .route .section-content > h4 {
            font-size: 18px;
            padding-bottom: 15px; }
          .location .route .section-content .details {
            padding: 25px 0 25px 25px; }
            .location .route .section-content .details > li dl dt {
              width: 145px;
              font-size: 15px; }
            .location .route .section-content .details > li dl dd {
              font-size: 15px;
              padding-left: 145px; } }
    @media (min-width: 1200px) {
      .location .route {
        padding-bottom: 100px; }
        .location .route .section-content {
          padding-top: 70px; }
          .location .route .section-content .details {
            padding: 25px 0 25px 30px; }
            .location .route .section-content .details > li dl dt {
              width: 150px; }
            .location .route .section-content .details > li dl dd {
              padding-left: 150px; } }
  .location .main-office {
    text-align: center;
    padding: 70px 0 60px;
    background-image: url(/assets/images/introduce/bg_main_office_sm.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .location .main-office .container > h4 {
      font-size: 25px;
      font-weight: 400;
      color: #fff;
      margin-bottom: 60px; }
    .location .main-office .container > .row > .col-12:first-child > dl {
      border-top: 0;
      padding: 0;
      padding-bottom: 40px; }
      .location .main-office .container > .row > .col-12:first-child > dl:after {
        display: none; }
    .location .main-office .container > .row > .col-12 > dl {
      padding: 40px 0;
      position: relative; }
      .location .main-office .container > .row > .col-12 > dl:after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #4e4e63; }
      .location .main-office .container > .row > .col-12 > dl dt {
        font-size: 17px;
        font-weight: 300;
        color: #fff; }
      .location .main-office .container > .row > .col-12 > dl dd {
        margin-top: 25px; }
        .location .main-office .container > .row > .col-12 > dl dd > p {
          font-size: 18px;
          color: #fff;
          margin-top: 20px;
          font-family: 'Roboto', sans-serif; }
        .location .main-office .container > .row > .col-12 > dl dd small {
          display: block;
          font-size: 13px;
          color: #fff;
          opacity: .8;
          line-height: 22px;
          margin-top: 5px; }
    @media (min-width: 768px) {
      .location .main-office {
        padding: 70px 0 55px;
        background-image: url(/assets/images/introduce/bg_main_office.jpg); }
        .location .main-office .container > h4 {
          font-size: 26px;
          margin-bottom: 50px; }
        .location .main-office .container > .row > .col-12:first-child > dl {
          padding-bottom: 0; }
        .location .main-office .container > .row > .col-12 > dl {
          padding: 0; }
          .location .main-office .container > .row > .col-12 > dl:after {
            top: 20px;
            left: -10px;
            width: 1px;
            height: 106px; }
          .location .main-office .container > .row > .col-12 > dl dt {
            font-size: 15px; }
          .location .main-office .container > .row > .col-12 > dl dd {
            margin-top: 30px; }
            .location .main-office .container > .row > .col-12 > dl dd > .items {
              height: 60px;
              line-height: 60px; }
            .location .main-office .container > .row > .col-12 > dl dd > p {
              font-size: 16px;
              margin-top: 20px; }
            .location .main-office .container > .row > .col-12 > dl dd small {
              font-size: 12px;
              letter-spacing: -0.7px; } }
    @media (min-width: 1200px) {
      .location .main-office {
        padding: 65px 0 80px; }
        .location .main-office .container > h4 {
          font-size: 28px;
          margin-bottom: 60px; }
        .location .main-office .container > .row > .col-12 > dl:after {
          top: 45px;
          left: -15px;
          height: 75px; }
        .location .main-office .container > .row > .col-12 > dl dt {
          font-size: 17px; }
        .location .main-office .container > .row > .col-12 > dl dd > .items {
          height: 70px;
          line-height: 65px; }
        .location .main-office .container > .row > .col-12 > dl dd small {
          font-size: 13px; } }

.certification .row .col-6:nth-of-type(2) ~ li a {
  margin-top: 40px; }
.certification .row .col-6 a {
  display: block;
  outline: none; }
  .certification .row .col-6 a .items {
    border: 1px solid #d6d6d6; }
    .certification .row .col-6 a .items img {
      width: 100%; }
    .certification .row .col-6 a .items:hover {
      border: 1px solid #ea212f; }
  .certification .row .col-6 a p {
    font-size: 13px;
    color: #333;
    font-weight: 300;
    text-align: center;
    margin-top: 15px; }
@media (min-width: 768px) {
  .certification .row .col-6:nth-of-type(2) ~ li a {
    margin-top: 0; }
  .certification .row .col-6:nth-of-type(3) ~ li a {
    margin-top: 40px; }
  .certification .row .col-6 > p {
    font-size: 15px; } }
@media (min-width: 1200px) {
  .certification .row .col-6:nth-of-type(3) ~ li a {
    margin-top: 0px; }
  .certification .row .col-6:nth-of-type(4) ~ li a {
    margin-top: 80px; } }

.modal-dialog {
  margin: 120px auto; }
  .modal-dialog .modal-content {
    width: 80%;
    margin: 0 auto;
    margin-right: 38px;
    border-radius: 0;
    border: none;
    background: none; }
    .modal-dialog .modal-content .close {
      position: absolute;
      right: -25px;
      top: -10px;
      font-size: 30px;
      color: #fff;
      font-weight: 400;
      outline: none;
      text-shadow: none;
      z-index: 5; }
    .modal-dialog .modal-content .modal-body {
      padding: 0; }
  @media (min-width: 768px) {
    .modal-dialog .modal-content {
      width: 100%;
      margin: 0 auto; }
      .modal-dialog .modal-content .close {
        right: -35px;
        top: -15px;
        font-size: 45px; } }
  @media (min-width: 1200px) {
    .modal-dialog .modal-content .close {
      right: -47px;
      top: -17px;
      font-size: 50px; } }

/*# sourceMappingURL=introduce.css.map */
