@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Nanum+Myeongjo");
/*
@mixin iropke() {
    font-family: 'Iropke Batang', serif;
}
@mixin jjmj() {
    font-family: 'Jeju Myeongjo', serif;
}*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button {
  padding: 0; }
  button:hover, button:focus {
    box-shadow: none; }

a {
  color: inherit; }
  a:hover, a:focus {
    color: inherit;
    box-shadow: none;
    text-decoration: none; }

.btn {
  border: 0;
  padding: 0;
  background: none;
  border-radius: 0 !important;
  box-shadow: none !important; }

.form-group {
  margin: 0;
  padding: 0; }

.form-control {
  width: 100%;
  height: 50px;
  font-size: 13px;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #002e79;
  box-shadow: none !important; }
  @media (min-width: 768px) {
    .form-control {
      font-size: 14px;
      height: 60px; } }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.container {
  max-width: 100%; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.jumbotron {
  position: relative;
  width: 100%;
  padding: 15px 0;
  margin: 0;
  border-radius: 0;
  background-color: #fff; }
  .jumbotron .slick-slider .slick-list .slick-track .slick-slide {
    height: 375px; }
    .jumbotron .slick-slider .slick-list .slick-track .slick-slide .video {
      width: 100%;
      transform: scale(3.5); }
  .jumbotron .slick-slider .slick-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -27px; }
    .jumbotron .slick-slider .slick-dots > li {
      display: inline-block;
      width: 15px;
      height: 15px;
      font-size: 0;
      border-radius: 50%;
      border: 1px solid #fff;
      margin-right: 5px; }
      .jumbotron .slick-slider .slick-dots > li.slick-active {
        background-color: #fff; }
      .jumbotron .slick-slider .slick-dots > li:last-child {
        margin-right: 0; }
      .jumbotron .slick-slider .slick-dots > li > button {
        border: 0;
        background: none; }
  .jumbotron .slick-slider .slick-arrow {
    display: none !important;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border: 0;
    cursor: pointer;
    box-shadow: none !important; }
    .jumbotron .slick-slider .slick-arrow i {
      font-size: 18px;
      color: #fff; }
    .jumbotron .slick-slider .slick-arrow.slick-prev {
      right: 60px;
      z-index: 1;
      text-align: center;
      background-color: #002e79; }
    .jumbotron .slick-slider .slick-arrow.slick-next {
      background-color: #00a1e9; }
  .jumbotron .slick-slider li {
    overflow: hidden;
    position: relative; }
    .jumbotron .slick-slider li .summary {
      position: absolute;
      top: 40px;
      left: 20px;
      padding-right: 55px; }
      .jumbotron .slick-slider li .summary > h2 {
        position: relative;
        top: 50px;
        font-size: 30px;
        color: #fff;
        line-height: 38px;
        font-weight: 400;
        text-shadow: -3px 0px 7px rgba(0, 0, 0, 0.35);
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        opacity: 0; }
        .jumbotron .slick-slider li .summary > h2 > b {
          font-weight: 500; }
      .jumbotron .slick-slider li .summary > p {
        position: relative;
        top: 50px;
        font-size: 13px;
        color: #fff;
        line-height: 20px;
        text-shadow: -3px 0px 7px rgba(0, 0, 0, 0.35);
        margin-top: 20px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0.5s;
        transition-delay: 0.5s;
        opacity: 0; }
      .jumbotron .slick-slider li .summary > .btn-area {
        position: relative;
        top: 50px;
        margin-top: 30px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 1s;
        transition-delay: 1s;
        opacity: 0; }
        .jumbotron .slick-slider li .summary > .btn-area p .btn.btn-default {
          display: block;
          width: 130px;
          font-size: 12px;
          color: #fff;
          line-height: 35px;
          text-align: center;
          border: 1px solid #fff; }
    .jumbotron .slick-slider li.action .summary > h2 {
      top: 0;
      opacity: 1; }
    .jumbotron .slick-slider li.action .summary > p {
      top: 0;
      opacity: 1; }
    .jumbotron .slick-slider li.action .summary > .btn-area {
      top: 0;
      opacity: 1; }
  @media (min-width: 768px) {
    .jumbotron {
      padding: 20px 0; }
      .jumbotron .slick-slider .slick-list .slick-track .slick-slide {
        height: 430px; }
        .jumbotron .slick-slider .slick-list .slick-track .slick-slide .video {
          width: 100%;
          transform: scale(1.5); }
      .jumbotron .slick-slider .slick-dots {
        display: none !important;
        position: absolute;
        bottom: 20px;
        left: 50%; }
        .jumbotron .slick-slider .slick-dots > li {
          display: inline-block;
          width: 15px;
          height: 15px;
          font-size: 0;
          border-radius: 50%;
          border: 1px solid #fff;
          margin-right: 8px; }
          .jumbotron .slick-slider .slick-dots > li > button {
            border: 0;
            background: none; }
          .jumbotron .slick-slider .slick-dots > li:last-child {
            margin-right: 0; }
      .jumbotron .slick-slider .slick-arrow {
        display: block !important; }
      .jumbotron .slick-slider li > .summary {
        top: 50px;
        left: 40px;
        padding-right: 0; }
        .jumbotron .slick-slider li > .summary > h2 {
          font-size: 45px;
          line-height: 54px; }
        .jumbotron .slick-slider li > .summary > p {
          font-size: 16px;
          margin-top: 25px; }
        .jumbotron .slick-slider li > .summary > .btn-area {
          margin-top: 55px; }
          .jumbotron .slick-slider li > .summary > .btn-area p .btn.btn-default {
            width: 170px;
            font-size: 14px;
            line-height: 40px; }
            .jumbotron .slick-slider li > .summary > .btn-area p .btn.btn-default:hover, .jumbotron .slick-slider li > .summary > .btn-area p .btn.btn-default:focus {
              border: 1px solid #00a1e9;
              background-color: #00a1e9;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s; } }
  @media (min-width: 1200px) {
    .jumbotron {
      padding: 15px 0; }
      .jumbotron .slick-slider .slick-list .slick-track .slick-slide {
        height: 545px; }
      .jumbotron .slick-slider li > .summary {
        top: 80px;
        left: 80px; }
        .jumbotron .slick-slider li > .summary > p {
          margin-top: 45px; }
        .jumbotron .slick-slider li > .summary > .btn-area {
          margin-top: 60px; } }
  @media (min-width: 768px) {
    .jumbotron .col-12 .row .col-6 .system-wrap {
      display: block; } }
  @media (min-width: 1200px) {
    .jumbotron .col-12 .row .col-6.expand {
      padding-right: 0; }
    .jumbotron .col-12 .row .col-6:first-child .system-wrap {
      margin-top: 0 !important; }
    .jumbotron .col-12 .row .col-6 .system-wrap {
      margin-top: 15px !important; } }
  .jumbotron .col-12 .row .col-6 .system-wrap {
    display: table;
    width: 100%;
    height: 190px;
    margin-top: 10px; }
    .jumbotron .col-12 .row .col-6 .system-wrap .system {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      background-color: #eff3f7; }
      .jumbotron .col-12 .row .col-6 .system-wrap .system .details > h3 {
        font-size: 13px;
        color: #333;
        line-height: 18px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif; }
      .jumbotron .col-12 .row .col-6 .system-wrap .system.content1 .item {
        margin: 0 auto; }
        .jumbotron .col-12 .row .col-6 .system-wrap .system.content1 .item img {
          width: 90px; }
      .jumbotron .col-12 .row .col-6 .system-wrap .system.content1 .details {
        margin-top: 15px; }
      .jumbotron .col-12 .row .col-6 .system-wrap .system.content2 .item {
        margin: 0 auto; }
        .jumbotron .col-12 .row .col-6 .system-wrap .system.content2 .item img {
          width: 70px; }
      .jumbotron .col-12 .row .col-6 .system-wrap .system.content2 .details {
        margin-top: 10px; }
    @media (min-width: 768px) {
      .jumbotron .col-12 .row .col-6 .system-wrap .system {
        display: table;
        width: 100%;
        height: 100%; }
        .jumbotron .col-12 .row .col-6 .system-wrap .system > .item {
          display: table-cell;
          width: 50%;
          vertical-align: middle; }
        .jumbotron .col-12 .row .col-6 .system-wrap .system .details {
          display: table-cell;
          width: 50%;
          text-align: left;
          vertical-align: middle; }
          .jumbotron .col-12 .row .col-6 .system-wrap .system .details > h3 {
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
            letter-spacing: -0.5px; }
          .jumbotron .col-12 .row .col-6 .system-wrap .system .details .btn-area p .btn.btn-default {
            display: block;
            width: 120px;
            font-size: 13px;
            color: #888;
            text-align: center;
            line-height: 35px;
            border: 1px solid #bbb;
            margin-top: 20px; }
          .jumbotron .col-12 .row .col-6 .system-wrap .system .details .btn-area p .btn:hover, .jumbotron .col-12 .row .col-6 .system-wrap .system .details .btn-area p .btn:focus {
            color: #fff;
            border: 1px solid #002e79;
            background-color: #002e79;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
        .jumbotron .col-12 .row .col-6 .system-wrap .system.content1 .item img {
          width: 120px; }
        .jumbotron .col-12 .row .col-6 .system-wrap .system.content1 .details {
          margin-top: 0; }
        .jumbotron .col-12 .row .col-6 .system-wrap .system.content2 .item img {
          width: 100px; }
        .jumbotron .col-12 .row .col-6 .system-wrap .system.content2 .details {
          margin-top: 0; } }
    @media (min-width: 1200px) {
      .jumbotron .col-12 .row .col-6 .system-wrap {
        height: 265px;
        margin-left: -15px; }
        .jumbotron .col-12 .row .col-6 .system-wrap .system > .item {
          width: 40%;
          padding: 0 20px; }
        .jumbotron .col-12 .row .col-6 .system-wrap .system .details {
          width: 60%;
          padding-right: 10px; }
          .jumbotron .col-12 .row .col-6 .system-wrap .system .details > p {
            font-size: 13px;
            color: #333;
            opacity: .6;
            font-weight: 300;
            line-height: 20px;
            margin-top: 10px;
            letter-spacing: -.5px;
            word-break: keep-all; }
            .jumbotron .col-12 .row .col-6 .system-wrap .system .details > p > .space {
              display: none; } }
    @media (min-width: 1400px) {
      .jumbotron .col-12 .row .col-6 .system-wrap .system > .item {
        width: 40%;
        padding: 0 10px; }
      .jumbotron .col-12 .row .col-6 .system-wrap .system .details {
        width: 60%;
        padding-right: 40px; }
        .jumbotron .col-12 .row .col-6 .system-wrap .system .details .btn-area p .btn.btn-default {
          margin-top: 35px; } }
    @media (min-width: 1600px) {
      .jumbotron .col-12 .row .col-6 .system-wrap .system .details > p > .space {
        display: block; } }

.news {
  width: 100%;
  padding: 30px 0;
  background-image: url(/assets/images/bg_news.gif);
  background-position: center;
  background-repeat: repeat;
  background-size: cover; }
  .news .section-header > h3 {
    font-size: 25px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-family: 'Roboto', sans-serif; }
  .news .section-content {
    margin-top: 10px; }
    .news .section-content ul li {
      height: 45px;
      line-height: 45px;
      background-color: #fff; }
      .news .section-content ul li:hover {
        background-color: #00a1e9;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .news .section-content ul li:hover .row .col-2 > span {
          color: #fff; }
        .news .section-content ul li:hover .row .col-12 a > h4 {
          color: #fff; }
          .news .section-content ul li:hover .row .col-12 a > h4:after {
            color: #fff; }
      .news .section-content ul li ~ li {
        margin-top: 5px; }
      .news .section-content ul li .row .col-2 > span {
        display: block;
        text-align: center;
        font-size: 13px;
        color: #999;
        font-family: 'Roboto', sans-serif; }
      .news .section-content ul li .row .col-12 a > h4 {
        position: relative;
        overflow: hidden;
        font-size: 13px;
        color: #111;
        font-weight: 400;
        line-height: 45px;
        padding: 0 30px 0 10px;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .news .section-content ul li .row .col-12 a > h4:after {
          position: absolute;
          top: 50%;
          right: 10px;
          margin-top: -22px;
          content: "\E806";
          font-family: "fontello";
          font-size: 13px;
          color: #aaa; }
  @media (min-width: 768px) {
    .news {
      padding: 50px 0; }
      .news .section-header > h3 {
        font-size: 35px; }
      .news .section-content {
        margin-top: 25px; }
        .news .section-content ul li {
          height: 55px;
          line-height: 55px; }
          .news .section-content ul li .row .col-12 a > h4 {
            font-size: 14px;
            line-height: 55px;
            padding: 0 50px 0 10px; }
            .news .section-content ul li .row .col-12 a > h4:after {
              right: 20px;
              margin-top: -28px; } }
  @media (min-width: 1200px) {
    .news {
      padding: 60px 0; } }

.quick {
  padding: 30px 0;
  background-color: #f0f3f7; }
  .quick .form-group {
    position: relative; }
    .quick .form-group .btn-search {
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      text-align: center;
      background-color: #002e79; }
      .quick .form-group .btn-search:before {
        content: "\E800";
        font-family: "fontello";
        font-size: 16px;
        color: #fff; }
    .quick .form-group .form-control {
      padding-left: 15px;
      padding-right: 70px; }
  .quick .quick-menu {
    margin-top: 10px; }
    .quick .quick-menu .qucik-info > li {
      width: 100%;
      border: 1px solid #ebebeb;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: 85% 50%; }
      .quick .quick-menu .qucik-info > li ~ li {
        margin-top: 10px; }
      .quick .quick-menu .qucik-info > li:nth-of-type(1) {
        background-image: url(/assets/images/bg_qucik_info01.png); }
      .quick .quick-menu .qucik-info > li:nth-of-type(2) {
        background-image: url(/assets/images/bg_qucik_info02.png); }
      .quick .quick-menu .qucik-info > li > a {
        display: block;
        padding: 30px;
        padding-right: 150px; }
        .quick .quick-menu .qucik-info > li > a > h4 {
          font-size: 16px;
          color: #002e79; }
        .quick .quick-menu .qucik-info > li > a > p {
          font-size: 13px;
          color: #666;
          line-height: 20px;
          margin-top: 15px; }
    .quick .quick-menu .qucik-list {
      overflow: hidden;
      margin-top: 10px;
      border: 1px solid #ebebeb; }
      .quick .quick-menu .qucik-list > li {
        position: relative;
        width: 33.33%;
        float: left; }
        .quick .quick-menu .qucik-list > li > a {
          display: block;
          padding: 20px 0;
          background-color: #fff; }
          .quick .quick-menu .qucik-list > li > a .items {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 0 auto;
            background-color: #b7c4d9;
            background-position: center;
            background-repeat: no-repeat;
            box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2) inset; }
          .quick .quick-menu .qucik-list > li > a .info > h4 {
            font-size: 13px;
            color: #333;
            text-align: center;
            margin-top: 10px; }
          .quick .quick-menu .qucik-list > li > a .info > p {
            display: none; }
          .quick .quick-menu .qucik-list > li > a:hover .items, .quick .quick-menu .qucik-list > li > a:focus .items {
            background-color: #002e79;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
        .quick .quick-menu .qucik-list > li:first-child > a .items {
          background-image: url(/assets/images/icon_qucik_list01.png); }
        .quick .quick-menu .qucik-list > li:nth-of-type(2) > a .items {
          background-image: url(/assets/images/icon_qucik_list02.png); }
        .quick .quick-menu .qucik-list > li:last-child > a .items {
          background-image: url(/assets/images/icon_qucik_list03.png); }
        .quick .quick-menu .qucik-list > li:last-child:after {
          display: none; }
        .quick .quick-menu .qucik-list > li:after {
          display: block;
          content: "";
          position: absolute;
          top: 27px;
          right: 0;
          width: 1px;
          height: 35px;
          background-color: #dfdfdf; }
  .quick .bg-utosys {
    height: 235px;
    padding: 25px 20px;
    margin-top: 10px;
    background-image: url(/assets/images/bg_utosys.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .quick .bg-utosys > h4 {
      font-size: 18px;
      color: #fff;
      line-height: 28px;
      font-weight: 400;
      letter-spacing: -.8px;
      text-shadow: 2px 3px 7px rgba(0, 0, 0, 0.35); }
      .quick .bg-utosys > h4 > b {
        display: block;
        font-size: 22px;
        font-weight: 500; }
    .quick .bg-utosys > .btn-area {
      margin-top: 30px; }
      .quick .bg-utosys > .btn-area p .btn-details {
        width: 110px;
        line-height: 35px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        border: 1px solid #fff; }
        .quick .bg-utosys > .btn-area p .btn-details:hover, .quick .bg-utosys > .btn-area p .btn-details:focus {
          border: 1px solid #1e97cd;
          background-color: rgba(0, 161, 233, 0.6);
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
  @media (min-width: 768px) {
    .quick {
      padding: 40px 0; }
      .quick .form-group .btn-search {
        width: 60px;
        height: 60px; }
      .quick .form-group .form-control {
        padding-left: 20px;
        padding-right: 80px; }
      .quick .quick-menu {
        margin-top: 20px;
        font-size: 0; }
        .quick .quick-menu .qucik-info > li {
          display: inline-block;
          width: 49%;
          background-position: 85% 50%; }
          .quick .quick-menu .qucik-info > li ~ li {
            margin-top: 0; }
          .quick .quick-menu .qucik-info > li:nth-of-type(1) {
            margin-right: 1%; }
          .quick .quick-menu .qucik-info > li:nth-of-type(2) {
            margin-left: 1%; }
          .quick .quick-menu .qucik-info > li > a > p {
            margin-top: 20px; }
        .quick .quick-menu .qucik-list {
          margin-top: 20px; }
          .quick .quick-menu .qucik-list > li > a {
            padding: 25px 0; }
            .quick .quick-menu .qucik-list > li > a .items {
              display: inline-block;
              margin-left: 30px;
              margin-right: 15px; }
            .quick .quick-menu .qucik-list > li > a .info {
              display: inline-block;
              vertical-align: top; }
              .quick .quick-menu .qucik-list > li > a .info > h4 {
                font-size: 16px;
                text-align: left;
                margin-top: 5px; }
              .quick .quick-menu .qucik-list > li > a .info > P {
                display: block;
                font-size: 13px;
                color: #999;
                margin-top: 5px; }
                .quick .quick-menu .qucik-list > li > a .info > P:after {
                  display: inline-block;
                  content: "\E807";
                  font-family: "fontello";
                  font-size: 13px;
                  margin-left: 10px; }
          .quick .quick-menu .qucik-list > li:after {
            top: 33px; }
      .quick .bg-utosys {
        height: 383px;
        padding: 45px 40px;
        margin-top: 20px; }
        .quick .bg-utosys > h4 {
          font-size: 27px;
          line-height: 40px; }
          .quick .bg-utosys > h4 > b {
            font-size: 31px; }
        .quick .bg-utosys > .btn-area p .btn-details {
          width: 125px;
          font-size: 13px; } }
  @media (min-width: 1200px) {
    .quick {
      padding: 60px 0; }
      .quick .quick-menu {
        margin-top: 30px; }
        .quick .quick-menu .qucik-list {
          margin-top: 30px; }
      .quick .bg-utosys {
        margin-top: 0; }
        .quick .bg-utosys > .btn-area p .btn-details {
          width: 120px; } }

/*# sourceMappingURL=main.css.map */
