@import 'common';

//  page-header
.page-header {
	.page-summary {
		background-image: url(/assets/images/recruit/bg_page_header.jpg);
	}	
}

//  page-path
.page-path {
	.breadcrumb {
		> li {
			.dropdown {
				.dropdown-menu {
					height: 120px;
				}
				@media (min-width: $xl) {
					.dropdown-menu {
						height: 60px;
						> .dropdown-item {
							width: 33.33%;
							line-height: 58px;
						}
					}
				}
			}
		}
	}
}

//인재상
.recruit-person {
	.container {
		> ol {
			padding: 0 20px;
			li {
				text-align: center;
				& ~ li {
					margin-top: 55px;
				}
				> div {
					display: inline-block;
					.items {
						position: relative;
						> strong {
							position: absolute;
							top: 0;
							left: 50%;
							margin-left: -20px;
							font-size: 60px;
							font-weight: 400;
							line-height: 190px;
							color: #fff;
							@include roboto();
						}
					}
					dl {
						margin-top: 15px;
						dt {
							display: block;
							font-size: 18px;
							color: #00a1e9;
							font-weight: 400;
							@include roboto();
						}
						dd {
							font-size: 14px;
							color: #333;
							margin-top: 5px;
						}
					}
				}
			}
		}
		@media (min-width: $md) {
			> ol {
				padding: 0;
				font-size: 0;
				overflow: hidden;
				li {
					display: inline-block;
					width: 33.33%;
					vertical-align: top;
					& ~ li {
						margin-top: 0;
					}
					&:nth-of-type(2) {
						> div {
							.items {
								> strong {
									margin-left: -25px;
								}
							}
						}
					}
					&:nth-of-type(4) {
						width: 50%;
						text-align: right;
						padding-right: 6.66%;
						> div {
							text-align: center;
						}
					}
					&:nth-of-type(5) {
						width: 50%;
						text-align: left;
						padding-left: 6.66%;
						> div {
							text-align: center;
						}
					}
					&:nth-of-type(3) ~ li {
						margin-top: 70px;
					}
					> div {
						.items {
							> img {
								width: 166px;
							}
							> strong {
								line-height: 166px;
							}
						}
						dl {
							margin-top: 25px;
							dd {
								margin-top: 10px;
							}
						}
					}
				}
			}
		}
		@media (min-width: $xl) {
			> ol {
				li {
					width: 20%;
					&:nth-of-type(4) {
						width: 20%;
						text-align: center;
						padding-right: 0;
					}
					&:nth-of-type(5) {
						width: 20%;
						text-align: center;
						padding-left: 0;
					}
					&:nth-of-type(3) ~ li {
						margin-top: 0;
					}
					> div { 
						dl {
							margin-top: 25px;
							dd {
								margin-top: 10px;
							}
						}
					}
				}
			}
		}
	}
}



















