@import 'common';

//page-header 
.page-header {
    .page-summary {
        width: 100%;
        height: 145px;
        text-align: center;
        background-image: url(/assets/images/sub/bg_page_header.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 45px;
        h2 {
            font-size: 25px;
            color: #fff;
            font-weight: 400;
        }
    }
    @media(min-width: $md) {
        .page-summary {
            height: 175px;
            padding-top: 60px;
        }
    }
}

//  page-path
.page-path {
	width: 100%;
	margin-top: -30px;
	.breadcrumb {
		position: relative;
		font-size: 0;
		margin: 0;
		padding: 0;
		border-radius: 0;
		background: none;
		> li {
			display: inline-block;
			&:first-child {
				position: absolute;
				top: 0;
				left: 0;
				width: 60px;
				height: 60px;
				background-color: #ea212f;
				background-image: url(/assets/images/sub/icon_page_path.gif);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 25px 25px;
				z-index: 2;
			}
			&:nth-of-type(2) {
				width: 100%; 
				padding-left: 60px;
				border-bottom: 2px solid #ea212f;
				z-index: 1;
			}
			.dropdown {
				width: 100%;
				background-color: #fff;
				button {
					&.btn-secondary {
						min-width: 100%;
						font-size: 15px;
						color: #ea212f;
						font-weight: 400;
						line-height: 60px;
						text-align: left;
						padding: 0 20px;
						border: 0;
						transition: none !important;
						background: none;
						box-shadow: none !important;
	                    &:after {
							content: "\F107";
							font-family: "fontello";
							float: right;
							margin: 0;
							border: 0;
							font-size: 18px;
							color: #333;
							vertical-align: middle;
							margin-right: 10px;
						}
					}
				}
				.dropdown-menu {
					margin: 0;
					padding: 0;
					border: 1px solid #e1e1e1;
					border-radius: 0;
					overflow-y: scroll;
					width: 100%;
					height: 180px;
					> .dropdown-item {
						padding: 0;
						display: block;
						font-size: 15px;
						color: #999;
						line-height: 60px;
						padding-left: 20px;
						border-bottom: 1px solid #e1e1e1;
						&:last-child {
							border-bottom: 0;
						}
						&:hover {
							color: #ea212f;
							font-weight: 400;
							background: none;
						}
					}
					/*&.show {
						top: 1px !important;
						left: 2px !important;
					}*/
				}
				@media (min-width: $md) {
					button {
						&.btn-secondary {
							padding: 0 40px;
						}
					}
					.dropdown-menu {
						height: 240px;
						> .dropdown-item {
							padding-left: 40px;
						}
					}
				}
				@media (min-width: $xl) {
					button {
						&.btn-secondary {
							display: none;
						}
					}
					.dropdown-menu {
						font-size: 0;
						display: block;
						height: auto;
						overflow-y: visible;
						> .dropdown-item {
							display: inline-block;
							width: 14.28%;
							border-bottom: 0;
							text-align: center;
							line-height: 58px;
							padding-left: 0;
							border-right: 1px solid #e1e1e1;
							&:last-child {
								border-right: 0;
							}
							&:hover {
								border-bottom: 1px solid #ea212f;
							}
						}
					}
				}
			}
		}
	}
}

